header {
  width: 100%;
  padding: 0 4% 2%;

  img {
    width: 100%;
    padding-bottom: 2%;
    @media @mobile {
      padding-bottom: 3%;
    }
  }
}

.home {
  border-top: 2px dashed @navigation-border;
  .content-section {
    padding: 4% 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .text-content {
      @media @mobile {
        width: 100%;
      }
      width: 48%;
      padding-right: 1%;
    }

    .img-content {
      @media @mobile {
        width: 100%;
        padding: 0;
      }
      width: 48%;
      padding-left: 1%;

      img {
        width: 100%;
        border-radius: 10px;
      }
    }
  }

  .inverse-content {
    @media @mobile {
      .flex(column-reverse, center);
    }
    padding: 4% 0;
    border-bottom: 2px dashed @navigation-border;

    .text-content {
      @media @mobile {
        width: 100%;
      }
      width: 48%;
      padding-left: 1%;
      padding-right: 0;
    }

    .img-content {
      @media @mobile {
        width: 100%;
        padding: 0;
      }
      width: 48%;
      padding-right: 1%;
      padding-left: 0;

      img {
        width: 100%;
      }
    }
  }

  .content-destination {
    @media @mobile {
      width: 100%;
      padding: 4% 0 1%;
    }
    width: 100%;
    padding: 4% 12% 1%;
    margin-bottom: 4%;

    img {
      width: 100%;
      border-radius: 10px;
    }
  }

  .content-pick {
    @media @mobile {
      .flex(column, center);
      padding: 4% 8% 0;
    }
    padding-top: 4%;
    border-top: 2px dashed @navigation-border;
    display: flex;
    justify-content: space-between;

    .destination {
      @media @mobile {
        width: 100%;
      }
      width: 30%;
      padding: 0 0 4%;

      div {
        .button(darkcyan, white);
        @media @mobile {
          width: 100%;
          border-radius: 12px;
          padding: 2%;
          font-size: 4vw;
        }
      } // div
    } // destination
  } // content-pick
} // home
